
<footer class="footer">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/seller-auth">Become a seller</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
