<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #seller="ngForm" (ngSubmit)="signup(seller.value)" class="common-form">
            <input type="text" class="form-input" placeholder="Username" ngModel name="name">
            <input type="email" class="form-input" placeholder="Email ID" name="email" ngModel #email="ngModel" required>
            <p *ngIf="email.invalid&&email.touched">
              <span>Please input a valid password</span>
            </p>
            <input type="password" class="form-input" placeholder="Password" name="password" #password="ngModel" ngModel required>
            <p *ngIf="password.invalid&&password.touched">
                <span>Please input a valid email.</span>
              </p>
            <button [disabled]="seller.invalid" class="form-button">Sign Up</button>
            <a (click)="openLogin()">Already have an account? click for login</a>
        </form>

    </div>


    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p>{{autherror}}</p>
        <form #sellerlogin="ngForm" (ngSubmit)="login(sellerlogin.value)" class="common-form">
            <input type="email" class="form-input" placeholder="Email ID" name="email" ngModel #email="ngModel" required>
            <p *ngIf="email.invalid&&email.touched">
              <span>Please input a valid email</span>
            </p>
            <input type="password" class="form-input" placeholder="Password" name="password" #password="ngModel" minlength="6" ngModel required>
            <p *ngIf="password.invalid&&password.touched">
                <span>Please input a valid password</span>
              </p>
            <button [disabled]="sellerlogin.invalid" class="form-button">Login Up</button>
            <a (click)="opensignup()">Don't have an account? click for Regsiter</a>
        </form>

    </div>

</div>